*{
    margin: 0;
    padding: 0;
    
}




body{
    font-family: sans-serif;
    background-image: url(IMG/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 130px;
    
}

.logo {
    width: 100%;
    padding: 20px;
    align-items: center;
    display: table;
    vertical-align: middle;
    text-align: center;
    position: absolute;
}



.logo h1{
    display: table-cell;
    vertical-align: middle;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: seashell;
}

nav ul{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: seashell;
    display: flex;
    list-style: none;
    width: 30%;
    justify-content: space-between;
    margin-top: 120px;
    padding: 100PX;
}
nav ul li{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: snow;
}